<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >

  <targets async="true">
    <target name="file" xsi:type="File"
            fileName="${basedir}/log/dmpapp_${shortdate}.log"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" encoding="utf-8" />

    <target name="file2" xsi:type="File"
            fileName="${basedir}/log/Proxy_${shortdate}.log"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" encoding="utf-8" />

    <target xsi:type="Trace" name="DevTracer" layout="${longdate} ${level:uppercase=true} ${logger} ${message} ${newline}" />
    <target xsi:type="Console" name="ConsoleLogger" layout="${longdate} ${level:uppercase=true} ${logger} ${message}" />

  </targets>

  <rules>
    <logger name="MigoDmpApp.Helpers.ProxyController" minlevel="Warn" writeTo="file2" final="true" />
    <logger name="*" minlevel="Warn" writeTo="file" />
  </rules>
</nlog>